body{
  background-image: url("me.jpeg");
 background-size: cover;
  padding-top: 30px; 
 /*background-position: center;*/
}

#txt{
  color: black;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    color: white;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}

#y{
  color:#07013C;
}

.content{
	padding-top: 25%;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}
a{
  color: #07013C;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

#content{
	text-align: center;
	padding-top: 25%
}






.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 0 29%;
    text-align: center;
    background: gray;
}

#coninfo{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 5% auto;
    text-align: center;
    background: gray;
    color: black;
}

.title {
    color: grey;
    font-size: 18px;
}

.cardB {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.cardBB {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

#cardA {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

#cardB:hover, #cardA:hover {
    opacity: 0.7;
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 0 23%;
    text-align: center;
    background: gray;
    text-align: center;
}

html,body {
    height: 100%;
}




.clock {
    position: absolute;
    top: 15%;
    right:0px;
    transform: translateX(-50%) translateY(-50%);
    color: #07013C;
    font-size: 35px;
    font-family: Orbitron;
    letter-spacing: 7px;


}



